@page "/categories/add"
@inherits CreatCategoryPage

<PageTitle>Categories</PageTitle>


<MudPaper Class="pa-8 mt-4">
	<EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">
		<div Style="display: flex; justify-content: center; align-items: center; width: 100%;">
			<MudText Typo="Typo.h6" Color="Color.Primary">Create a new category</MudText>
		</div>
		<DataAnnotationsValidator />
		<ValidationSummary />

		<MudTextField Label="Title"
					  HelperText="Required field"
					  @bind-Value="InputModel.Title"
					  For="@(() => InputModel.Title)" />

		<MudTextField Label="Description"
					  Lines="5"
					  HelperText="Required field"
					  @bind-Value="InputModel.Description"
					  For="@(() => InputModel.Description)" />

		<MudButton ButtonType="ButtonType.Submit"
				   Variant="Variant.Filled"
				   Color="Color.Primary"
				   Disabled="@IsBusy"
				   Class="mt-6">
			Save category
		</MudButton>
	</EditForm>
</MudPaper>
