@page "/categories"
@inherits ListCategoriesPage

<PageTitle>Categories</PageTitle>

<MudText Typo="Typo.h3">Categories</MudText>

<ul>
	@foreach (var category in Categories)
	{
		<li>@category.Title</li>
	}
</ul>