<MudPaper Elevation="0"
		  Class="pa-4 ma-4"
		  Style="border-radius: 12px; background: linear-gradient(180deg, var(--mud-palette-background) 0%, #FA8072 100%);">
	<div class="d-flex justify-center py-4">
		<img src="images/mainlogo-removebg.png" alt="The new way to manage your finances" width="255" style="max-width: 100%; height: auto;" />
	</div>
</MudPaper>

<MudNavMenu Class="pa-4">
	<MudNavLink Href="/" Match="NavLinkMatch.All">
		<MudIcon Icon="@Icons.Material.Filled.SpaceDashboard" Class="mr-2" /> Dashboard
	</MudNavLink>
	<MudNavLink Href="/releases/history">
		<MudIcon Icon="@Icons.Material.Filled.AccountBalanceWallet" Class="mr-2" /> History
	</MudNavLink>
	<MudNavLink Href="/categories">
		<MudIcon Icon="@Icons.Material.Filled.Category" Class="mr-2" /> Categories
	</MudNavLink>
	<MudNavLink Href="/exit">
		<MudIcon Icon="@Icons.Material.Filled.ExitToApp" Class="mr-2" /> Exit app
	</MudNavLink>
</MudNavMenu>