@page "/login"
@using System.ComponentModel.DataAnnotations
@layout HeadlessLayout
@inherits LoginPage

<PageTitle>FluentFinance - Login</PageTitle>

<MudGrid Justify="Justify.Center">
	<MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">
		<MudPaper Class="mud-width-full pa-8">
			<div class="d-flex justify-center pb-8 pt-8">
				<img src="images/logotxt.png" alt="The new way to manage your finances"
					 width="255"
					 style="border-radius: 12px; box-shadow: 0 4px 12px #fcd3c4;">
			</div>

			<EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync">

				<DataAnnotationsValidator />

				<MudTextField T="string"
							  Label="E-mail"
							  HelperText="Required field"
							  InputType="InputType.Email"
							  For="@(() => InputModel.Email)"
							  @bind-Value="InputModel.Email" />

				<MudTextField T="string"
							  Label="Password"
							  HelperText="Required field"
							  InputType="InputType.Password"
							  For="@(() => InputModel.Password)"
							  @bind-Value="InputModel.Password" />

				<div class="d-flex flex-column gap-4 mt-8 mb-8">
					@if (IsBusy)
					{
						<MudProgressCircular Color="Color.Info" Indeterminate="true" />
					}
					else
					{
						<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary"
								   Class="flex-grow-1">
							Enter
						</MudButton>
						<MudButton Href="/register" Variant="Variant.Outlined" Color="Color.Secondary"
								   Class="flex-grow-1 custom-outlined-button">
							Register
						</MudButton>
					}
				</div>

			</EditForm>
		</MudPaper>
	</MudItem>
</MudGrid>
