@page "/exit"
@layout HeadlessLayout
@inherits LogoutPage

<PageTitle>FluentFinance - Exit app</PageTitle>

<MudText Typo="Typo.h3">Finalizing the session</MudText>

<MudPaper Class="pa-8 mt-4">
	<div lass="d-flex justify-center pb-8 pt-8">
		<img src="images/mainlogo.png" alt="The new way to manage your finances"
			 width="255"
			 style="border-radius: 12px; box-shadow: 0 4px 12px #fcd3c4;">
	</div>

	<MudAlert Severity="Severity.Info">
		Finalizing the session
		<MudButton Variant="Variant.Text" Href="/">
			Go to login screen
		</MudButton>
	</MudAlert>
</MudPaper>